/* Reset default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: #fff; /* Change text color to white for better contrast */
  }
  
  header {
    background-color: #333;
    color: #fff; /* Header text color in dark mode */
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff; /* Navigation link color in dark mode */
    font-weight: bold;
  }
  
  main {
    background-color: white;
    padding: 1rem;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #333; /* Text color in both light and dark modes */
  }
  
  main p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  footer {
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff; /* Footer text color in dark mode */
  }
  
  /* Dark mode button styles */
  button.dark-mode-toggle {
    background-color: #333;
    color: #fff; /* Button text color in dark mode */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  